<div class="container-fluid">
  <div class="row">
    <header>
      <div class="col-xs-8">
        <a href="<%- uri %>" class="logo">
          <img src="<%- imagesUri %>logo.svg" alt="Brady Landscaping" />
          <h1 class="hide">Brady Landscaping</h1>
        </a>
      </div>
      <div class="col-xs-4">
        <a href="#" class="trigger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </header>
    <nav class="mobile-nav">
      <div class="mobile-nav__links">
        <%- partial("_partials/nav") %>
      </div>
    </nav>
    <aside class="col-md-2">
      <div class="sticky-top">
        <a href="<%- uri %>" class="logo">
          <img src="<%- imagesUri %>logo.svg" alt="Brady Landscaping" />
        </a>
        <nav class="main-nav">
          <%- partial("_partials/nav") %>
        </nav>
      </div>
      <div class="sticky-bottom">
        <!-- <div class="social-media">
          <a href="" class="facebook" target="_blank">
            <img src="<%- imagesUri %>icon-facebook.svg" alt="Facebook" />
          </a>
          <a href="" class="instagram" target="_blank">
            <img src="<%- imagesUri %>icon-instagram.svg" alt="Instagram" />
          </a>
        </div> -->
        <span class="copyright">
          All Rights Reserved<br>©2017 Brady Stone &amp; Landscaping, LLC
        </span>
      </div>
    </aside>
    <main class="col-md-10">
      <%- partial("_partials/section-banner") %>
      <%- partial("_partials/section-about") %>
      <%- partial("_partials/section-services") %>
      <%- partial("_partials/section-gallery") %>
      <%- partial("_partials/section-testimonials") %>
      <%- partial("_partials/section-contact") %>
    </main>
    <footer class="row footer">
      	<div class="col-sm-12 row__footer">
        <span class="copyright">
          All Rights Reserved | ©2017 Brady Stone &amp; Landscaping, LLC
        </span>
      </div>
    </footer>
  </div>
</div>
