<section id="gallery" class="row gallery">
	<div class="col-sm-12 row__header">
		<img src="<%- imagesUri %>icon-tree.svg" class="icon" />
		<h3>Gallery</h3>
	</div>
	<div class="col-sm-12">
		<div class="filters">
			<div class="filter" data-filter="all">All</div>
			<div class="filter" data-filter=".hardscaping">Hardscaping</div>
			<div class="filter" data-filter=".fireplaces">Fireplaces &amp; Veneer</div>
			<div class="filter" data-filter=".landscaping">Landscaping</div>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div class="gallery__images">
		<a href="<%- imagesUri %>gallery/img-1.jpg" class="mix fireplaces" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-1.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-4.jpg" class="mix landscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-4.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-5.jpg" class="mix hardscaping landscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-5.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-6.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-6.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-7.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-7.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-2.jpg" class="mix fireplaces" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-2.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-8.jpg" class="mix landscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-8.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-9.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-9.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-10.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-10.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-11.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-11.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-12.jpg" class="mix landscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-12.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-3.jpg" class="mix fireplaces" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-3.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-9.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-9.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-13.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-13.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-14.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-14.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-15.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-15.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-16.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-16.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-17.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-17.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-18.jpg" class="mix landscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-18.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-19.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-19.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-20.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-20.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-21.jpg" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-21.jpg"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-22.png" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-22.png"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-23.png" class="mix fireplaces" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-23.png"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-24.png" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-24.png"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-25.png" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-25.png"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-26.png" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-26.png"  />
		</a>
		<a href="<%- imagesUri %>gallery/img-27.png" class="mix hardscaping" data-fancybox-group="gallery">
			<img class="gallery-selector" src="<%- imagesUri %>gallery/img-27.png"  />
		</a>
	</div>
</section>
